{% load static %}

<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Responsive Registration Form | CodingLab </title>
  <link rel="stylesheet" href="{% static 'app1/signup.css' %}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <img class="wave" src="images/veve.png">

  <div class="main">
    <div class="img" style="margin: 0;">
      <img
        src="https://www.usnews.com/object/image/00000184-76b4-ddd3-afd4-f7fe77580000/car-family-blue.svg?update-time=1668439110965&size=responsiveSquare300">
    </div>

    <div class="container">
      <div class="title">Registration</div>
      <div class="content">
        <form action="" method="post">
            {% csrf_token %}
          <div class="user-details">
            <div class="input-box">
              <span class="details">Full Name</span>
              <input type="text" placeholder="Enter your name" name="username" id="username" required>
            </div>
            <div class="input-box">
              <span class="details">Phone Number</span>
              <input type="text" placeholder="Enter your Phone Number" name="number" id=""phnno required>
            </div>
            <div class="input-box">
              <span class="details">Email</span>
              <input type="text" placeholder="Enter your email" name="email" id="email" required>
            </div>
            <!-- <div class="input-box">
              <span class="details">something</span>
              <input type="text" placeholder="Enter your number" required>
            </div> -->
            <div class="input-box">
              <span class="details">Password</span>
              <input type="text" placeholder="Enter your password" name="password1" id="password1" required>
            </div>
            <div class="input-box">
              <span class="details">Confirm Password</span>
              <input type="text" placeholder="Confirm your password" 
              name="password2" id="password2" required>
            </div>

            <!-- <div class="input-box">
            <span class="details">Address</span>
            <input type="text" placeholder="Enter your address" required>
          </div>
          <div class="input-box">
            <span class="details">Experience</span>
            <input type="text" placeholder="Enter your past Experience" required>
          </div> -->

            <!-- <div class="input-box">
            <label class="details" for="file">File</label>
            <input class="details" id="details" name="file" type="file" />
            <button class="uploaddoc">Upload</button>
          </div> -->
            <!-- <form method="post">
            <label for="file">File</label>
            <input id="file" name="file" type="file" />
            <button>Upload</button>
          </form> -->

          </div>
          <!-- <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div> -->
          <div class="button">
            <input type="submit" value="Register">
          </div>
          <a href="{% url 'login' %}" >i have already account</a> 
        </form>
      </div>
    </div>
  </div>





</body>

</html>