*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#wrapper{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.navbar{
    background-color: #5668c1;
    /* background-color: transparent;
    box-shadow: none; */
}

.navbar .btn{
    width: 5rem;
    margin-right: 0.625rem;
}

.nav-item{
    padding-left: 3rem;
    font-weight: 600;
    font-size: large;
}
.nav-link{
    color: snow;
}

.hero-section img{
    border-radius: 1.4rem;
}

.navbar-brand img{
    border-radius: 15%;
    width: 10vw;
    opacity: 10;
    margin-left: 0.8rem;

}
/* .btn{
    background-color: #5668c1;
    border-radius: 1.25rem;
    border-color: white;
} */



.bookMech{
    font-size:x-large;
    text-decoration: underline;
    cursor: pointer;
}

.aboutUs{
    font-size:x-large;
    text-decoration: underline;
    cursor: pointer;
}

.gradient-background{ 
    background-image: linear-gradient(200deg ,white, white, #253aa5);
    background-repeat: no-repeat;
    background-size: 180% 180%;
    animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }  
}



.features{
    overflow: hidden;
}

.fw-normal{
   display: flex;
   justify-content: center;
   padding-top: 9.375rem;
   /* color: black; */
   font-size:xx-large;
}

.desc{
    margin-top: 2.5rem;
    padding-left: 9.6875rem;
    font-size: xx-large;
    font-weight: 700;
}

.images{
    /* clip-path: circle(50% at 50% 50%); */
    /* padding-right: 20%; */
    /* width: 100%; */
    /* max-width: 500px; */
    /* height: 500px; */
    /* display: block; */
    border-radius: 6%;
}
.services{
    background-color: whitesmoke;
}
.services h2{
    color: #5668c1;
    font-size: 2.4rem;
}

.help-panel{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-right: 30%;
    color: #5668c1;
}

.help-banner{
    padding-left: 18%;
}
.help-panel h2{
    font-size: 2.8125rem;
    font-weight:600;
}

.img{
    width: 9.375rem;
    height: 9.375rem;
}

.flex-item{
    text-align: center;
}


.ourReviews h3{
    text-align: center;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    margin-bottom: 1.875rem;
    color: #5668c1;
    font-size: 2.2rem;
}

.ourReviews hr{
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2%;
}

.reviewGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image {
    width: 22%;
    height: 28.125rem;
    position: relative;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
    /* border-radius: 0.625rem; */
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    /* filter: grayscale(100%); */
    /* box-shadow: 0 0 20px red; */
    border-radius: 1.2rem;
    object-fit: cover;
}
.image:hover{
    transform: scale(1.02);
    transition: 0.4s;
}

.image figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.625rem;
    height: 35%;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color:white;
}
.FAQs {
    background-color: #f7f7f7; 
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
   
}

.FAQs .faq_heading{
    align-items: center;
    color: #5668c1;
    display: flex;
    font-size: 3rem;
    justify-content: center;
    margin-bottom: 1.25rem;
    /* text-align: center; */
}

.QandA{
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    padding-top: 1.25rem;
    padding-bottom: 4.375rem;
    font-size: large;
    text-wrap: wrap;
}

.QandA details{
    margin-bottom: 1.25rem;
}
.QandA summary {
    cursor: pointer;
    font-weight: bold;
    color: #187ae4; 
    transition: color 0.3s ease; 
}    
.QandA summary:hover {
    color: #0056b3;
}

.QandA p {
    margin: 0.625rem 0;
    font-size: 1rem;
    color: #444; 
}

.QandA hr {
    border: none;
    border-top: 0.0625rem solid #ddd; 
    margin: 10px 0;
}
/* .footer{
    background-color: #5668c1;
    
}

.footer span{
    color: snow;
    margin-left: 1%;
}

.footer svg{
    color: snow;
} */



